nav {
    height: 60px;
    background-color: #000;
    color: #fff;
}

.navlinks li{
    cursor: pointer;
    font-family: 'NunitoSans', sans-serif;
    font-weight: 400; 
    font-size: 18px;
}

.pointer{
    cursor: pointer;
}

.text-left p{
    font-family: 'NunitoSans', sans-serif;
    font-weight: 400; 
    font-size: 10px;
    color:#a4a8ac;
}
.paddingtop{
    margin-top: 2%;
}

.cartelpeli {
    padding: 2%

}

.cartelpeli:hover > .valoraciones{

    z-index: 5;
}

.valoraciones{
    background-color: #000;
    z-index: -1;
    color: #fff;

}

.posters{
    font-family: 'NunitoSans', sans-serif;
    font-weight: 400; 
    font-size: 14px;
    color:#fff;
}

.posters img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.posters img:hover {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    
}

.genero {
    width: 90%;
    padding: 2% 0 2% 0; 
}

.genero:hover {
    background-color:transparent;
    border-color:#2883d8;
    color:#2883d8;
}

.nopadding {
    padding: 0;
  

}

.navigation {
    margin-top: 15px;
}

.navlinks li {
    margin-left: 23px;
    color: #fff;
    font-size: 0.9em;
    display:inline-block; 
    list-style-type: none;

}

.myform {
    background-color: #5c6269;
    color: #fff;
    opacity: 0.5;
}

.genrebutton button {
    font-size: 0.8em;
    width:100px;
    border: 1px solid #2883d8;

}

.noborder {
    border: none;
}


.titulopeli {
    font-size: 4em;
}

.subtitulo {
    font-size:2em;
}

.title {
    text-align:left;
}

.modalcontainer {
    background-color: #fff;
}

#modaltitle{
    font-family: 'NunitoSans', sans-serif;
    font-weight: 400; 
    font-size: 30px;
    color:#000;
    margin-left: 2%
}

#modaldate{

    font-family: 'NunitoSans', sans-serif;
    font-weight: 400; 
    font-size: 15px;
    color:#a4a8ac;
    margin-left: 2%
}

.modaloverview{

    font-family: 'NunitoSans', sans-serif;
    font-weight: 400; 
    font-size: 10,87px;
    color:#a4a8ac;font-family: 'NunitoSans', sans-serif;
    font-weight: 400; 
    font-size: 10,87px;
    color:#a4a8ac;
    margin-top: 11%;
}

#modalposter{
    margin-left: 2%;
    margin-bottom: 5%;
}

