<nav>
    <div class="container">
        <div class="row navigation">
            <div class="col-xs-2">
                <a href="#"><img src="img/logopeliseoi.png" width=100%></a>
            </div>
            <div class="col-xs-6 navlinks"> 
                <ul>
                    <!--li>Categorías</li-->
                    <li ng-click="topRatedd()">Mejor Valoradas</li>
                    <li ng-click="Popular()">Populares ahora</li>
                    <li ng-click="Release()">Próximamente</li>
                </ul>
            </div>
            <!-- barra de busqueda con font-awesome -->

            <div class="col-xs-offset-1 col-xs-3">
                <div class="input-group pointer">
                    <!--icono fontawesome -->
                    <span ng-click="searchFilmss(buscapeli)" class="input-group-addon myform noborder pointer"><i class="fa fa-search" aria-hidden="true"></i></span>
                    <!--form -->
                    <input placeholder="Buscar..." ng-model="buscapeli" type="text" class="form-control myform noborder" id="inputGroupSuccess4" aria-describedby="inputGroupSuccess4Status">
                </div>
            </div>
        </div>  
    </div>
    
</nav>
<div class="container">
    <div class="row paddingtop">
        <div class="col-xs-3">
            <!--aqui van las movidas de  la sidebar -->
                

                <div class="row">
                    <div class="col-xs-offset-9 col-xs-3 pointer">
                    <p> filtrar <img src="img/refineicon.png" width="90%" ng-click="ReleaseSlider()"/></p>
                    </div>
                </div> 
            <div class="row paddingtop margintop15">
                <div class="col-xs-12 foto myslider">
                   
                    <rzslider rz-slider-model= "slider.minValue"
                     rz-slider-high= "slider.maxValue"
                     rz-slider-options="slider.options">
                    </rzslider>
                </div>
            </div>
            <div class="row">
                
                    <!--aqui van los botones -->
                    <p class="margintop15">Géneros:</p>
                        <div class="col-xs-6 nopadding margintop3 genrebutton" ng-repeat="genre in genres track by $index">
                            <button ng-click="GenreFilter(genre.id)" type="button" class="btn btn-default" >{{genre.name}}</button>
                        </div>
            </div>
                
        </div>
        
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <p>{{movies.length}} de {{amountresults}} películas encontradas</p>
                </div>
            </div>
            <!-- aqui van las fotos alineadas -->
            <div class="row posters">
                
                <div class="col-xs-4 cartelpeli" ng-repeat="movie in movies track by $index">  
                    <img ng-click="detailView(movie)" ng-src="{{img + movie.poster_path}}" width='269px' height='403px' data-toggle="modal" data-target="#gabsmodal">
                   <div class="valoraciones">
                   </div>
                </div>
            </div>   
        </div>
    </div>
</div>
<div  ng-include="'views/modal.html'"></div>