<div class="modal fade bs-example-modal-lg"  id="gabsmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modalcontainer">
     <div class="row">
      <div class="col-xs-5">
        <p>{{newMovie.title}}</p>
        <p>{newMovie.release_date}}</p>
        <img ng-src="{{img + newMovie.poster_path}}" width="90%">
      </div>
      <div class="col-xs-6">
        <p>{{newMovie.overview}}</p>
      </div>
      <div class="col-xs-6">
        <img src="img/Captura.PNG" width="100%">
      </div>
    </div>   
    </div>
  </div>
</div>

